/car_problem.csv
/Manometrias_de_2015_a_2019.xls
/Analise_de_Sentimentos_train.csv
/Analise_de_Sentimentos_test.csv
/Linear_Regression_titanic_age_train.csv
/Linear_Regression_titanic_age_test.csv
/Classification_survivors_titanic_train.csv
/Classification_survivors_titanic_test.csv